<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">

<dom-module id="tabs-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <paper-tabs selected="0" scrollable>
      <paper-tab>Tab 1</paper-tab>
      <paper-tab>Tab 2</paper-tab>
      <paper-tab>Tab 3</paper-tab>
    </paper-tabs>
  </template>

  <script>
    /**
     * `tabs-element`
     * tabs
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsElement extends Polymer.Element {
      static get is() { return 'tabs-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-element'
          }
        };
      }
    }

    window.customElements.define(TabsElement.is, TabsElement);
  </script>
</dom-module>
